[project]
	description = hello
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Proshanta Sarkar (proshanta)
[access "refs/for/refs/*"]
	read = group user/Proshanta Sarkar (proshanta)
	push = group user/Proshanta Sarkar (proshanta)
	label-Code-Review = -2..+2 group user/Proshanta Sarkar (proshanta)
	label-Verified = -1..+1 group user/Proshanta Sarkar (proshanta)
	rebase = group user/Proshanta Sarkar (proshanta)
	removeReviewer = group user/Proshanta Sarkar (proshanta)
	submit = group user/Proshanta Sarkar (proshanta)
[access "refs/heads/*"]
	read = group user/Proshanta Sarkar (proshanta)
	create = group user/Proshanta Sarkar (proshanta)
	push = +force group user/Proshanta Sarkar (proshanta)
	pushMerge = group user/Proshanta Sarkar (proshanta)
[access "refs/tags/*"]
	push = +force group user/Proshanta Sarkar (proshanta)
	pushTag = group user/Proshanta Sarkar (proshanta)
	pushSignedTag = group user/Proshanta Sarkar (proshanta)
